# ignore compile python files,
*.pyc
# ignore ipython notebook files
.ipynb_checkpoints/
# ignore generated report files
Management*.xlsx
*Import.csv

# ignore temporary log files that are created during testing.
*.last

# ignore temporary files
~*

# ignore Pycharm files (Each user may not have the same installation
.idea/

# Ignore .env configuration files
.env


